body{
  background-image:url(../img/bg-2.png);
background-repeat: repeat;
}
header{
  width:1140px;
  background-color:red;
  height: 40px;
  margin:auto;
  display: flex;
}
#barrai{
  display: flex;
  font-family: arial, helvetica, thaoma, sans-serif;
  font-size:15px;
}
#uliz{
  display: flex;
}
.liizqui{
  padding-left: 10px;
list-style-type: none;
color: white;
}
.stroi{
  color: white;
  text-decoration: none;
}
#barrader{
  width: 600px;
  justify-content: flex-end;
  display: flex;
  font-family: arial, helvetica, thaoma, sans-serif;
  font-size:15px;
}
#secmain{
  width: 1140px;
  margin: auto;
  display: flex;
}
#main{
  width: 800px;
  flex-wrap: wrap;
  display: flex;
  font-family: arial, helvetica, thaoma, sans-serif;
  font-size:15px;
  background-color: white;

}
.artmain{
  width: 380px;
  margin: 10px;
}
#tuto{
  margin-left: 20px;
  width: 320px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  font-family: arial, helvetica, thaoma, sans-serif;
  font-size:15px;
  background-color: white;
}
.tutor{
  border-top: solid 1px black;
  padding-left: 10px;
  display: flex;
}
h5{
  padding-left: 10px;
}
